.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: 0;
}

.find-container {
  border: 1px solid @blue;
}

.replace-container {
    border: 1px solid @blue;
    margin-top: 5px;
}

atom-workspace {
  font-size: @font-size;
  background-color: @app-background-color;

  &.seti-roboto {
    font-family: @seti-font-family;
  }
}
